.header {
  display: flex;
  padding-top: 11px;
  height: 35px;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px 5px #3333330f;
  .logo {
    svg {
      height: 26px;
      width: 26px;
      stroke-width: 2;
    }
    span {
      font-weight: 600;
      font-size: 22px;
      vertical-align: text-bottom;
      margin-left: 5px;
      line-height: 33px;
      display: none;
      @media screen and (min-width: 48em) {
        display: initial;
      }
    }
    display: inline-block;
    border-right: 1px solid #eee;
    margin-top: -12px;
    padding-top: 9px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
  }
  .tab {
    &:nth-child(1) {
      svg {
        margin: 0px;
        margin-top: -1px;
        margin-left: -2px;
      }
    }
    font-size: 16px !important;
    letter-spacing: 0.5px;
    &:after {
      height: 3px !important;
      bottom: -6px !important;
    }
    &.active {
      font-weight: 500;
    }
  }
  .tabs {
    margin-left: 5px;
    margin-top: -2.5px !important;
    width: initial !important;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    @media screen and (min-width: 48em) {
      width: fit-content !important;
    }
    header {
      flex-wrap: nowrap;
    }
  }
  .right-div {
    margin-right: 21px;
    display: none;
    right: 0px;
    position: absolute;
    @media screen and (min-width: 48em) {
      display: initial;
    }
    a {
      margin-right: 7px;
      &:last-child {
        margin-right: 0px;
      }
      svg {
        width: 15px;
        height: 15px;
        margin-right: 2px;
      }
    }
  }
}

.main {
  display: flex;
  height: calc(100vh - 47px);
  .side {
    border-right: 1px solid #eee;
    width: 280px;
    padding: 24px;
    display: none;
    overflow: hidden;
    overflow-y: auto;
    a {
      color: #555;
      text-decoration: none !important;
      h4 {
        letter-spacing: 0.2px;
        font-weight: 400;
        margin: 5px 0px 5px -7.5px;
        padding: 7px;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: ease-in-out 0.1s;
        &.active {
          background: #edf2f7;
          color: rgba(26, 32, 44, 0.7490196078431373);
          border-radius: 5px;
          font-weight: 450;
          white-space: normal;
        }
        &:hover {
          white-space: normal;
        }
      }
    }
    h3 {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 30px 0px 10px 0px;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .section {
      margin: 25px 0px;
    }
  }
  .view {
    width: 100%;
  }
  @media screen and (min-width: 48em) {
    .side {
      display: block;
    }
    .view {
      width: calc(100% - 280px);
    }
  }
}

#nprogress {
  .peg {
    box-shadow: none !important;
  }
  .bar {
    background: #333 !important;
    height: 2px !important;
  }
}

.foot {
  position: fixed;
  bottom: 0px;
  @media screen and (min-width: 48em) {
    width: calc(100% - (280px * 2));
    box-shadow: 0px -2px 10px #3333330f;
  }
  width: 100%;
  border-top: 1px solid #eee;
  background: #fff;
  height: 50px;
  padding: 10px 30px;
  .default {
    text-align: center;
  }
  p {
    margin: 0px !important;
    color: #607d8b;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    margin-top: 5px !important;
    @media screen and (min-width: 48em) {
      font-size: inherit !important;
      margin-top: 1.5px !important;
    }
    span {
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }
  }
}

.center {
  display: flex;
  height: calc(100vh - 47px - 50px);
  .tree {
    .content {
      padding: 0px !important;
      margin: 0px !important;
      max-height: fit-content !important;
    }
  }
  .content {
    max-height: calc(100% + 30px);
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    border-bottom: none;
    padding: 0px 25px;
    margin: 0px;
    padding-bottom: 80px;
    @media screen and (min-width: 48em) {
      padding: 10px 180px 40px 30px !important;
      margin: 0px 0px 0px 150px;
    }
    pre {
      border: none !important;
      border-radius: 5px !important;
    }
    ul {
      list-style: circle !important;
      margin-left: 0px !important;
    }
  }
  .aside {
    .inside {
      width: 280px;
      padding: 24px;
      display: none;
      h3 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 40px 0px 0px 0px;
        &:nth-child(1) {
          margin: 0px;
        }
      }
      .auto-complete {
        width: 100%;
        margin: 15px 0px 0px 0px;
      }
      .card {
        display: flex;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        transition: ease-in-out 0.2s;
        margin-top: 15px;
        .icon {
          display: flex;
          width: 100%;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        .icon0 {
          color: rgb(96, 125, 139);
        }
        .icon1 {
          color: #1877f2;
        }
        .icon2 {
          color: rgb(29, 161, 242);
        }
        .icon3 {
          color: rgb(0, 150, 136);
        }
        p {
          margin: 0px;
          margin-left: 10px;
          margin-top: 1px;
          font-weight: 500;
          font-size: 17px;
        }
        button {
          padding: 3.5px 3px;
          line-height: normal;
          margin: 0px;
          margin-top: 2px;
          height: 27px;
          width: 27px;
          svg {
            height: 20px;
            width: 20px;
          }
        }
        &:hover {
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
        }
      }
    }
    width: 280px;
    border-left: 1px solid #eee;
    display: none;
    margin-top: -50px;
    transform: translateY(50px);
  }
  @media screen and (min-width: 48em) {
    .aside {
      display: block;
      .inside {
        display: block;
      }
    }
  }
}

.themeBtn {
  min-width: 0px;
  position: absolute;
  right: 22px;
  top: 7px;
  display: none;
  @media screen and (min-width: 48em) {
    display: block;
  }
}

::selection {
  background-color: #e2e8f0 !important;
  color: #333 !important;
}

.home {
  width: 100% !important;
  .content {
    margin-left: 0px !important;
  }
  .foot {
    width: 100% !important;
    @media screen and (min-width: 48em) {
      width: calc(100% - 280px) !important;
    }
  }
}

.mobile-side {
  text-align: center;
  padding: 5px 15px 2px 15px;
  color: #607d8b;
  background: #f7f8f9;
  border-radius: 5px 5px 0px 0px;
  width: 80%;
  height: 30px;
  margin: 15px auto 0px auto;
  p {
    margin: 0px;
  }
  &:hover {
    background-color: #f1f2f3;
  }
  @media screen and (min-width: 48em) {
    display: none;
  }
}

.content {
  .side {
    h4 {
      font-weight: 400;
      font-size: 18px;
      background: #f7f8f9;
      padding: 5px 10px;
      border-radius: 5px;
      color: #555;
      letter-spacing: 0.5px;
    }
    h3 {
      font-weight: 600;
      font-size: 22px;
      padding: 5px 10px;
      margin-top: 30px;
      border-radius: 5px;
      color: #555;
      letter-spacing: 0.5px;
    }
  }
}

.card .content {
  padding: 16pt 16pt !important;
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin-bottom: 10px;
  }
}
