.header {
  display: flex;
  padding-top: 11px;
  height: 35px;
  border-bottom: 1px solid #eee;
  .logo {
    svg {
      height: 26px;
      width: 26px;
      stroke-width: 2;
    }
    display: inline-block;
    border-right: 1px solid #eee;
    margin-top: -12px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
  }
  .tab {
    font-size: 16px !important;
    letter-spacing: 0.5px;
    &:after {
      height: 3px !important;
      bottom: -6px !important;
    }
    &.active {
      font-weight: 500;
    }
  }
  .tabs {
    margin-left: 5px;
    margin-top: -2.5px !important;
    width: calc(100% - 280px) !important;
  }
}

.main {
  display: flex;
  height: calc(100vh - 47px);
  .side {
    border-right: 1px solid #eee;
    width: 280px;
    padding: 24px;
    display: none;
    a {
      color: #555;
      text-decoration: none !important;
      h4 {
        letter-spacing: 0.2px;
        font-weight: 400;
        margin: 5px 0px 5px -7.5px;
        padding: 7px;
        white-space: nowrap;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: ease-in-out 0.1s;
        &.active {
          background: #edf2f7;
          color: rgba(26, 32, 44, 0.7490196078431373);
          border-radius: 5px;
          font-weight: 450;
          white-space: normal;
        }
        &:hover {
          white-space: normal;
        }
      }
    }
    h3 {
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 30px 0px 10px 0px;
      white-space: nowrap;
      max-width: 100%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .section {
      margin: 25px 0px;
    }
  }
  .view {
    width: 100%;
  }
  @media screen and (min-width: 48em) {
    .side {
      display: block;
    }
    .view {
      width: calc(100% - 280px);
    }
  }
}

#nprogress {
  .peg {
    box-shadow: none !important;
  }
  .bar {
    background: #333 !important;
    height: 2px !important;
  }
}

.foot {
  position: fixed;
  bottom: 0px;
  width: calc(100% - (280px * 2));
  border-top: 1px solid #eee;
  background: #fff;
  height: 50px;
  padding: 10px 30px;
  p {
    margin: 0px !important;
  }
}

.center {
  display: flex;
  height: calc(100vh - 47px - 50px);
  .content {
    max-height: calc(100% + 30px);
    overflow: hidden;
    overflow-y: auto;
    margin: 0px 0px 0px 150px;
    width: 100%;
    border-bottom: none;
    padding: 10px 180px 40px 30px;
    pre {
      border: none !important;
      border-radius: 5px !important;
    }
  }
  .aside {
    .inside {
      width: 280px;
      padding: 24px;
      display: none;
      h3 {
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 40px 0px 0px 0px;
        &:nth-child(1) {
          margin: 0px;
        }
      }
      .auto-complete {
        width: 100%;
        margin: 15px 0px 0px 0px;
      }
      .card {
        display: flex;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
        transition: ease-in-out 0.2s;
        margin-top: 15px;
        .icon {
          display: flex;
          width: 100%;
          svg {
            width: 30px;
            height: 30px;
          }
        }
        p {
          margin: 0px;
          margin-left: 10px;
          margin-top: 1px;
          font-weight: 500;
          font-size: 17px;
        }
        button {
          padding: 3.5px 3px;
          line-height: normal;
          margin: 0px;
          margin-top: 2px;
          height: 27px;
          width: 27px;
          svg {
            height: 20px;
            width: 20px;
          }
        }
        &:hover {
          box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
        }
      }
    }
    width: 280px;
    border-left: 1px solid #eee;
    display: none;
    margin-top: -50px;
    transform: translateY(50px);
  }
  @media screen and (min-width: 48em) {
    .aside {
      display: block;
      .inside {
        display: block;
      }
    }
  }
}

.themeBtn {
  min-width: 0px;
  position: absolute;
  right: 22px;
  top: 7px;
  display: none;
  @media screen and (min-width: 48em) {
    display: block;
  }
}
